<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ClienteA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClienteA.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Luz y Vida</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <img class="img-responsive" width="50" height="50" src="/Images/logo.jpeg"/>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Matricula" asp-action="Index">Matricula</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Talleres" asp-action="Index">Talleres</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
        <div class="row">
            <div class="col-md-3" style="color:white;">
            &copy; 2023 - Luz y Vida - <a asp-area="" asp-controller="" asp-action="">Privacy</a>
            </div>
            <div class="col-md-3">
                <a style="color:white;">Contáctanos:</a>
                <a class="btn btn-success" style="background-color: #00bb2d; color:white;" href="https://api.whatsapp.com/send?phone=51989331055" role="button">
                <img src="/Images/whatsapp.png" width="24px" heigh="24px"></i> Whatsapp</a>
            </div>
            <div class="col-md-3">
                <a style="color:white;">Redes Sociales:</a>
                <a class="btn btn-primary" style="background-color: #3b5998;" href="https://www.facebook.com/NidoLuzYVida/?locale=es_LA" role="button">
                <img src="/Images/facebook.png" width="25px" heigh="25px"></i>Facebook</a>
                <a class="btn btn-light" style="background-color: white; color:black;" href="https://www.instagram.com/nido_luzyvida/?hl=es" role="button">
                <img src="/Images/instagram.png" width="25px" heigh="25px"></i>Instagram</a>
                <a class="btn btn-light" style="background-color: white; color:red;" href="mailto:administracion@luzyvida.edu.pe" role="button">
                <img src="/Images/gmail.png" width="35px" heigh="35px"></i>Gmail</a>
            </div>
        </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
