@{
    ViewData["Title"] = "TALLERES";
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}
<h1>@ViewData["Title"]</h1><br>
<section id="portfolio">
    <ul class="tabs">
      <div class="container wow fadeInUp">
        <div class="row">
          <div style="text-align: center;">
          </div>
          <div class="col-lg-4 mx-auto">
            <a class="portfolio-item" style="background-image: url(/Images/taller_ingles.png);" align="middle"> 
              <div class="details" >
                <span style="font-size: 19px;" >
                    <div  class="card" style="border-radius: 20px; padding: 1rem 1rem; height:100%;">
          <div class="card-body">
            <h4>Datos del Menor</h4><hr>
            <form  class="row g-3">
              <div class="col-md-4">
                <label class="control-label">DNI</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Nombres</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                <label class="control-label">Ap. Paterno</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Ap.Materno</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-3">
                  <label class="control-label">Grado</label>
                  <select class="form-select">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                <!--<input type="number" class="form-control" />-->
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Taller</label>
                  <select class="form-select">
                    <option value="Inlges">Ingles</option>
                    <option value="Musica">Musica</option>
                    <option value="Circo">Circo</option>
                  </select>
                <!--<input type="number" class="form-control" />-->
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-12">
                  <input type="submit" value="Inscribir Taller" class="btn btn-primary" />
                </div>
                </form>
          </div>
        </div>
                </span>
              </div>
            </a>
          </div><!--OtroTaller-->
          <div class="col-lg-4 mx-auto">
            <a class="portfolio-item" style="background-color: red;" align="middle"> 
              <div class="details" >
                <span style="font-size: 19px;" >
                    <div  class="card" style="border-radius: 20px; padding: 1rem 1rem; height:100%;">
          <div class="card-body">
            <h4>Datos del Menor</h4><hr>
            <form  class="row g-3">
              <div class="col-md-4">
                <label class="control-label">DNI</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Nombres</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                <label class="control-label">Apellido Paterno</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Apellido Materno</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-3">
                  <label class="control-label">Grado</label>
                <input type="number" class="form-control" />
                <span  class="text-danger"></span>
                </div>
                </form>
          </div>
        </div>
                </span>
              </div>
            </a>
          </div><!--OtroTaller-->
          <div class="col-lg-4 mx-auto">
            <a class="portfolio-item" style="background-image: url(/Images/bienvenida.jpg);" align="middle"> 
              <div class="details" >
                <span style="font-size: 19px;" >
                    <div  class="card" style="border-radius: 20px; padding: 1rem 1rem; height:100%;">
          <div class="card-body">
            <h4>Datos del Menor</h4><hr>
            <form  class="row g-3">
              <div class="col-md-4">
                <label class="control-label">DNI</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Nombres</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                <label class="control-label">Apellido Paterno</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Apellido Materno</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-3">
                  <label class="control-label">Grado</label>
                <input type="number" class="form-control" />
                <span  class="text-danger"></span>
                </div>
                </form>
          </div>
        </div>
                </span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </ul>
</section><br>
<div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div id="carouselExampleControls" class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 250px;">
          <div class="card-body">
            <h2 class="card-title">Misión:</h2>
            <p style="font-size: 19px;">“Alimentar el poder de lo posible, transformando los momentos cotidianos en algo más especial.”</p>
          </div>
        </div>
        </div>
        <div class="col-sm-4">
         <div id="carouselExampleControls" class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 250px;">
          <div class="card-body">
            <h2 class="card-title">Visión:</h2>
            <p style="font-size: 17px;">“Ser la empresa de pizzas número uno en el mundo y en todos los barrios.”</p>
          </div>
        </div>
       </div>
       <div class="col-sm-4">
         <div id="carouselExampleControls" class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 250px;">
          <div class="card-body">
            <h2 class="card-title">Valores:</h2>
            <p style="font-size: 17px;">* Responsabilidad</p>
            <p style="font-size: 17px;">* Superioridad</p>
            <p style="font-size: 17px;">* Actitud</p>
            <p style="font-size: 17px;">* Perfeccioanmiento Constante</p>
          </div>
      </div>
    </div>
    &nbsp;
    <h1>Encuentranos en:</h1>
    <div>
      <center><p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.980142886359!2d-77.0011669!3d-12.1135111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7e5b7d07a39%3A0x37347ad28e90b9a!2sAv.%20Williams%20216%2C%20Lima%2015038!5e0!3m2!1ses-419!2spe!4v1697750810595!5m2!1ses-419!2spe"  width="1000" height="300" style="border-radius: 20px; padding: 1rem 1rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p></center>
    </div>