@{
    ViewData["Title"] = "TALLERES";
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
}
<h1>@ViewData["Title"]</h1><br>
<div class="row">
     <div class="col-lg-4 mx-auto">
        <div  class="card" style="border-radius: 20px; padding: 1rem 1rem; height:100%;">
          <div class="card-body">
            <h4>Completar Datos</h4><hr>
            <form  class="row g-3">
              <div class="col-md-4">
                <label class="control-label">DNI</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Nombres</label>
                <input  class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                <label class="control-label">Apellido Paterno</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Apellido Materno</label>
                <input class="form-control" />
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-3">
                  <label class="control-label">Grado</label>
                  <select class="form-select">
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                  </select>
                <!--<input type="number" class="form-control" />-->
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-6">
                  <label class="control-label">Taller</label>
                  <select class="form-select">
                    <option value="Inlges">Ingles</option>
                    <option value="Musica">Musica</option>
                    <option value="Circo">Circo</option>
                  </select>
                <span  class="text-danger"></span>
                </div>
                <div class="col-md-12">
                  <label class="control-label">Voucher</label>
                <input  type="file" class="form-control" />
                <span class="text-danger"></span>
                </div>
                <div class="col-md-12">
                  <input type="submit" value="Separar Vacante" class="btn btn-danger" />
                </div>
                </form><br>
                <small>
                <p>*Capacidad solo para los 10 primeros niños y los horarios estan sujetos a cambios por la coordinación.</p>
                </small>
          </div>
        </div>
      </div> 
    <div class="col-lg-8 mx-auto">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" style="height:100%">
            <div class="carousel-item active">
            <img src="/Images/circo.jpg" class="d-block w-100" alt="" style="height:500px;border-radius:20px;">
            </div>
            <div class="carousel-item">
            <img src="/Images/ingles.jpg" class="d-block w-100" alt="" style="height:500px;border-radius:20px;">
            </div>
            <div class="carousel-item">
            <img src="/Images/musica.jpg" class="d-block w-100" alt="" style="height:500px;border-radius:20px;">
            </div>
          </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Atrás</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Siguiente</span>
        </button>
        </div>
    </div>
</div>
<br>
<div class="container">
      <div class="row">
        <div class="col-sm-4">
          <div id="carouselExampleControls" class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 250px;">
          <div class="card-body">
            <h2 class="card-title">Objetivo:</h2>
            <p style="font-size: 19px;">“El objetivo de la educación no es aumentar la cantidad de
conocimiento, sino crear las posibilidades para que en un
niño invente y descubra”</p>
          </div>
        </div>
        </div>
        <div class="col-sm-4">
         <div id="carouselExampleControls" class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 250px;">
          <div class="card-body">
            <h2 class="card-title">Historia:</h2>
            <p style="font-size: 17px;">21 años llevando una propuesta
pedagógica activa y personalizada
donde el juego cumple un rol principal
en el aprendizaje de nuestros niños.</p>
          </div>
        </div>
       </div>
       <div class="col-sm-4">
         <div id="carouselExampleControls" class="card" style="border-radius: 20px; padding: 1rem 1rem; height: 250px;">
          <div class="card-body">
            <h2 class="card-title">Protocolo de Bioseguridad:</h2>
            <p style="font-size: 17px;">●Estación de lavado de manos</p>
            <p style="font-size: 17px;">●Aplicación de alcohol en gel</p> 
            <p style="font-size: 17px;">●Uso de espacios amplios y ventilados</p>
            <p style="font-size: 17px;">●Aforos reducidos 10 niños por sala</p>
          </div>
      </div>
    </div>
    &nbsp;
    <h1>Encuentranos en:</h1>
    <div>
      <center><p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3900.980142886359!2d-77.0011669!3d-12.1135111!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c7e5b7d07a39%3A0x37347ad28e90b9a!2sAv.%20Williams%20216%2C%20Lima%2015038!5e0!3m2!1ses-419!2spe!4v1697750810595!5m2!1ses-419!2spe"  width="1000" height="300" style="border-radius: 20px; padding: 1rem 1rem;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </p></center>
    </div>