@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1{
  /*color: white;*/
  text-align: center;
}
/*
td{
  color: white;

}
th{
  color: white;
}*/

html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
}

body {
  margin-bottom: 60px;
  /*background: url("/Images/fondo_web.jpg");*/
  /*background: url("/Images/fondoo.webp");*/
  background-color: white(248, 188, 78);/*color de fondo*/
  background-size: 100% 100%;
  background-attachment: fixed;
  background-repeat: no repeat;
}

#carta {
  /*background-color: rgb(247, 211, 145);*/
  /*background: url("/Images/fondo_web.jpg");*/
  /*background: url("/Images/fondoo.webp");*/
  border-radius: 20px; 
  padding: 1rem 1rem;
}

#infoMenu {
  margin-top: 30px;
 border-radius:20px;
 box-shadow: 0 0 15px rgb(19, 19, 19);
 background: rgb(216, 44, 44);
}

#mensajeIndex {
  padding-left: 50px;
  padding-inline: 20px;
  font-size: auto;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#carouselExampleControls
{
  border-radius:20px;
  border-image: 20px;
  box-shadow: 0 0 30px #000000;
}

#contentPrincipal{
  padding: 0px;
}

#contentIndex1{
  padding: 0;
  border-radius: 20px 20px 20px 20px;
  }

#contentIndex2{
  padding: 0;
  border-radius: 0px 20px 20px 0px;
}
  #portfolio {
    /*background: rgb(243, 188, 87);*/
    padding: 20px 0;
  }
  
  #portfolio .portfolio-item {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    width: 100%;
    display: table;
    overflow: hidden;
    margin-bottom: 30px;
    text-decoration: none;
    border-radius: 20px;
  }
  
  #portfolio .portfolio-item .details {
    height: 260px;
    background: #c22424;
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    transition: 0.3s;
    text-align: center;
  }
  
  #portfolio .portfolio-item .details h4 {
    font-size: 16px;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
    font-weight: 700;
    color: #333333;
  }
  
  #portfolio .portfolio-item .details span {
    display: block;
    color: #666666;
    font-size: 13px;
    transition: opacity 0.3s, -webkit-transform 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translate3d(0, 15px, 0);
    transform: translate3d(0, 15px, 0);
  }
  
  #portfolio .portfolio-item:hover .details {
    opacity: 0.8;
  }
  
  #portfolio .portfolio-item:hover .details h4 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  
  #portfolio .portfolio-item:hover .details span {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  header{
    /*background-color: rgb(236, 173, 80);*/
    /*background: url("/Images/bienvenida.jpg");*/
  }
  footer{
    background-color: rgb(243, 180, 86);
    /*background: url("/Images/bienvenida.jpg");*/
  }
 